*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    height: 1500px;
    background: #111;
}
nav{
    width: 220px;
    height: 45px;
    background: #0e0d0d9d;
    backdrop-filter: blur(100px);
    box-shadow: 0 0 35px #333;
    border-radius: 20px;
}